body{
    font-family: sans-serif;
}
#encabezado{
    background-color: #354b9b;    
}
h4{
   color: #354b9b;
}
.franja{
    background-color: #354b9b;
}
.servicio{
    background-color: rgb(233, 233, 233);    
    -webkit-transition: -webkit-transform 0.2s ease-in-out 0.1s;
    height: 400px;
}
.servicio:hover{
    -webkit-transform: scale(1.05);
    box-shadow: #aaaaa7 3px 3px 10px;
}
footer{
    background-color: #354b9b;
}
.rieles{
    background-color: rgb(233, 233, 233);
}
.tarjetaRot{
    position: relative;
    display: inline-block;
    
}
.textPri {
    vertical-align: bottom;
}
  
.textContSec {
    position: absolute;
    border-radius: 25px 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(233, 233, 233);
    color: black;
    visibility: hidden;
    opacity:0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}
.tarjetaRot:hover .textContSec {
    visibility: visible;
    opacity: 0.97;
}
.textSec {
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
}
.tarjetaRot:hover .textSec {
    transform: translateY(0);
}
.icono{
    width: 50%;
}
.valores{
    border-radius: 25px 25px;
    box-shadow: 5px 5px 10px 10px rgb(233, 233, 233); 
}
.principal{
    font-size: 1.5rem;
}

